@charset "utf-8"
body{
	margin:0;
	padding:0;
	background-color:red;
}
#hedder{
	margin:0;
	padding:0;
}
#main
{
	margin:0 auto;
	padding:0 auto;
	width:1200px;
	background-image:url("images/b01.jpg");
}
#typist{
	font-size:30px;
	background-color:white;
	filter:alpha(opacity=85);
	-moz-opacity:0.85;
	-khtml-opacity:0.85;
	opacity:0.85;"
}
#add{
	margin:0 auto;
	padding:0 auto;
}
